In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Conectando ao banco de dados
engine = create_engine('sqlite:///../Dados/ecommerce.db')

In [3]:
# Testando conexão do banco de dados
with engine.connect() as connection:
    print('Conectado com sucesso')

Conectado com sucesso

In [6]:
# 1 - Total de vendas por categoria
consulta_1 = 'SELECT Categoria, sum(Quantidade) AS Total_QTD_Vendida FROM produtos GROUP BY Categoria'
resultado_1 = pd.read_sql_query(consulta_1, engine)
resultado_1

    Categoria  Total_QTD_Vendida
0  Acessórios                 81
1    Calçados                 46
2      Roupas                163

In [8]:
# Produto com mais vendas
consulta_2 = 'SELECT Produto, SUM(Quantidade) AS Total_Qtd_Vendida FROM produtos GROUP BY Produto ORDER BY Total_Qtd_Vendida DESC LIMIT 1'
resultado_2 = pd.read_sql_query(consulta_2, engine)
resultado_2

    Produto  Total_Qtd_Vendida
0  Camiseta                 30

In [13]:
# Total de vendas por produto
consulta_3 = 'SELECT Produto, SUM(Quantidade) as Total_Qtd_Vendida FROM produtos GROUP BY Produto ORDER BY Total_Qtd_vendida'
resultado_3 = pd.read_sql_query(consulta_3, engine)
resultado_3

       Produto  Total_Qtd_Vendida
0      Relógio                  4
1      Jaqueta                  5
2        Botas                  6
3       Sapato                  7
4        Tênis                  8
5       Suéter                  9
6       Camisa                 10
7       Óculos                 10
8   Saia longa                 11
9      Vestido                 12
10       Blusa                 14
11       Calça                 15
12     Mochila                 15
13     Bermuda                 18
14      Shorts                 19
15        Saia                 20
16       Cinto                 22
17    Sandália                 25
18      Brinco                 30
19    Camiseta                 30

In [15]:
# 4 média de preço por produto
consulta_4 = 'SELECT Produto, AVG(Preço) AS Media_Preco FROM produtos GROUP BY Produto'
resultado_4 = pd.read_sql_query(consulta_4, engine)
resultado_4

       Produto  Media_Preco
0      Bermuda         60.0
1        Blusa         55.0
2        Botas        180.0
3       Brinco         35.0
4        Calça        100.0
5       Camisa         50.0
6     Camiseta         45.0
7        Cinto         40.0
8      Jaqueta        120.0
9      Mochila         70.0
10     Relógio        250.0
11        Saia         80.0
12  Saia longa         75.0
13    Sandália         70.0
14      Sapato        150.0
15      Shorts         65.0
16      Suéter         95.0
17       Tênis        200.0
18     Vestido         90.0
19      Óculos        120.0