## Análise de dados direto de planilha

In [5]:
import pandas as pd
import openpyxl

In [7]:
df = pd.read_excel('../Dados/campeonato_brasileiro.xlsx')

In [8]:
df.head()

,Times,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
0,Flamengo,10,7,2,1,22,10,12,23
1,São Paulo,10,6,1,3,16,15,1,19
2,Palmeiras,10,5,3,2,18,12,6,18
3,Santos,10,4,3,3,14,16,-2,15
4,Corinthians,10,3,2,5,10,20,-10,11

In [9]:
# Verificando os tipos de dados
df.dtypes

Times               object
Partidas_Jogadas     int64
Vitorias             int64
Empates              int64
Derrotas             int64
Gols_Pro             int64
Gols_Contra          int64
Saldo_Gols           int64
Pontos               int64
dtype: object

In [11]:
# Medidas estatísticas
df.describe()

,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
count,5.0,5.000000,5.00000,5.00000,5.000000,5.000000,5.000000,5.000000
mean,10.0,5.000000,2.20000,2.80000,16.000000,14.600000,1.400000,17.200000
std,0.0,1.581139,0.83666,1.48324,4.472136,3.847077,8.294577,4.494441
min,10.0,3.000000,1.00000,1.00000,10.000000,10.000000,-10.000000,11.000000
25%,10.0,4.000000,2.00000,2.00000,14.000000,12.000000,-2.000000,15.000000
50%,10.0,5.000000,2.00000,3.00000,16.000000,15.000000,1.000000,18.000000
75%,10.0,6.000000,3.00000,3.00000,18.000000,16.000000,6.000000,19.000000
max,10.0,7.000000,3.00000,5.00000,22.000000,20.000000,12.000000,23.000000

In [13]:
# primeiros 2 colocados
df.head(2)

,Times,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
0,Flamengo,10,7,2,1,22,10,12,23
1,São Paulo,10,6,1,3,16,15,1,19

In [14]:
# últimos 2 colocados
df.tail(2)

,Times,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
3,Santos,10,4,3,3,14,16,-2,15
4,Corinthians,10,3,2,5,10,20,-10,11

In [16]:
# 1 - Analise desempenho por time
desempenho_info = df[['Times', 'Pontos', 'Vitorias', 'Saldo_Gols']].set_index('Times')
desempenho_info

             Pontos  Vitorias  Saldo_Gols
Times
Flamengo         23         7          12
São Paulo        19         6           1
Palmeiras        18         5           6
Santos           15         4          -2
Corinthians      11         3         -10

In [19]:
# Time com mais vitórias
time_mais_vitorias = df[df['Vitorias']==df['Vitorias'].max()]
time_mais_vitorias

,Times,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
0,Flamengo,10,7,2,1,22,10,12,23

In [ ]:
# Time menos vitórias
time_menos_vitorias = df[df['Vitorias']==df['Vitorias'].min()]
time_menos_vitorias

,Times,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
4,Corinthians,10,3,2,5,10,20,-10,11

In [22]:
# Distribuição de gols pró
df['Gols_Pro'].value_counts()

Gols_Pro
22    1
16    1
18    1
14    1
10    1
Name: count, dtype: int64

In [25]:
# relação entre gols pró e pontos 
correlação = df['Gols_Pro'].corr(df['Pontos'])
correlação

np.float64(0.9701612604547394)

In [27]:
correlação = df['Gols_Contra'].corr(df['Pontos'])
correlação

np.float64(-0.934041094880381)